<app-admin-header></app-admin-header>
<app-admin style="position: static;"></app-admin>

<body>
<div class="Q1">
    <h1>Add Questions</h1>

    <input class="txt" name="title" size="110" type="text" id="formGroupExampleInput" placeholder="Add Title" />
    
    <div class="col-md-4">
        <select id="course" class="custom-control custom-select form-control">
            
            <option value="#" selected>Select Grade</option>
            <option value="#">Grade 1</option>
            <option value="#">Grade 2</option>
            <option value="#">Grade 3</option>
            <option value="#">Grade 4</option>
            <option value="#">Grade 5</option>
            <option value="#">Grade 6</option>
            <option value="#">Grade 7</option>
            <option value="#">Grade 8</option>
            <option value="#">Grade 9</option>
            <option value="#">Grade 10</option>
            <option value="#">Grade 11</option>
            <option value="#">Grade 12</option>
            <option value="#">Grade 13</option>
            <option value="#">Prof</option>
            
        
        </select>
    </div>
    <br>
    <div class="col-md-4">
        <select id="course" class="custom-control custom-select form-control">
            
            <option value="#" selected>Select Subject</option>
            <option value="#">Sinhala</option>
            <option value="#">Science</option>
            <option value="#">English</option>
            <option value="#">Arts</option>
            
        
        </select>
    </div>
    <br>
    <div class="col-md-4">
        <select id="course" class="custom-control custom-select form-control">
            
            <option value="#" selected>Select Paper Type</option>
            <option value="#">Pass Paper</option>
            <option value="#">Model Paper</option>
            
            
        
        </select>
    </div>
    <br>
    
    <p><textarea cols="110" name="questions " rows="10" placeholder="Type Question Here"></textarea></p>
    
    



         <div style="padding-left: 50%;">
            <p style="text-align: center;"><input class="btn" name="Addquestion" type="button" value="Add" />​</p>
    
            <p>&nbsp;</p>
        </div>
</div>

    

</body>


<app-admin-footer></app-admin-footer>