<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">E-Panthiya</h4>
                        <p class="">E-panthiya is an online learning platform which provides limitless functionality to learn via internet and  available from anywhere and without charge
                        </p>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                   <div class=" ">
                        <h4 class="card-title font-weight-bold">Other Pages</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "> <a href="features-wrap">About us</a></li>
                                <li class=" mb-3 "><a href="">Our Team</a></li>
                                <li class="mb-3"> <a href="#">News</a></li>
                                <li class=" mb-3"><a href="teams-wrap">Our Content Specialists</a></li>
                                <li class=" mb-3"><a href="#">Our Supporters</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="card-title font-weight-bold">Courses</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Maths</li>
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Science</li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i>English</li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i>Computing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">Contact Info</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>Lorem Ispum, Lorem ispum</li>
                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>info@epanthiya.com</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +94 (11) 2 000 0000</li>
                            </ul>
                        </div>
                        <section class="social-wrap ">
                            <div class="social-btns-wrap">
                               <a class="social-btn text-30 facebook ml-0" href="#"><i
                                        class="eva eva-facebook"></i></a>
                                <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>
                                <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>
