<!-- Mix of the following pens -->
<!--https://codepen.io/davidchase/pen/ALxDy-->
<!--https://codepen.io/jiffy/pen/uAEkH-->
<!-- ****************************** -->

<app-admin-header></app-admin-header>
<app-admin style="position: static;"></app-admin>

<header>
    <div class="container">
    <h2>Add Paper Type</h2>
    
    <form action="">
      <div class="text-area"><textarea name="" id="status" rows="1" placeholder="Add Paper Type"></textarea></div>
    </form>
    <div class="button-wrapper">
      
      <a href="#" class="btn">Add</a>
    </div>
    <ul class="posts">
    </ul>
  </div>
  </header>  

<app-admin-footer></app-admin-footer>