



<main class="cd-main-content">

<div class="sidebar-container" id="myTopnav" >
    <div class="sidebar-logo">
      Admin Page
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a href="/#/admin">
          <i class="fa fa-home" aria-hidden="true"></i> Homepage
        </a>
      </li>
      <li>
        <a href="/#/adminpage2">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Add New User
        </a>
      </li>
      <li>
        <a href="/#/adminuserupdate">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Update User
        </a>
      </li>
      <li class="header">Another Menu</li>
      <li>
        <a href="/#/admincourses">
          <i class="fa fa-users" aria-hidden="true"></i> Manage Papers
        </a>
      </li>
      <li>
        <a href="/#/adminpapers">
          <i class="fa fa-cog" aria-hidden="true"></i> Add Papers
        </a>
      </li>
      <li>
        <a href="/#/adminaddgrade">
          <i class="fa fa-cog" aria-hidden="true"></i> Add Grade
        </a>
      </li>
      <li>
        <a href="/#/adminaddsubject">
          <i class="fa fa-cog" aria-hidden="true"></i> Add Subject
        </a>
      </li>
      <li>
        <a href="/#/adminpapertype">
          <i class="fa fa-cog" aria-hidden="true"></i> Add Paper Type
        </a>
      </li>
      <li>
        <a href="/#/admincategory">
          <i class="fa fa-cog" aria-hidden="true"></i> Add Category
        </a>
      </li>
      <li>
        <a href="/#/adminmcq">
          <i class="fa fa-cog" aria-hidden="true"></i> Create MCQ
        </a>
      </li>
      <li>
        <a href="/#/adminessay">
          <i class="fa fa-cog" aria-hidden="true"></i> Create Eassy Questions
        </a>
      </li>
      <li>
        <a href="/#/adminnotes">
          <i class="fa fa-cog" aria-hidden="true"></i> Create Short Notes
        </a>
      </li>
      <li>
        <a href="/#/admintutorial">
          <i class="fa fa-cog" aria-hidden="true"></i> Create Tutorials
        </a>
      </li>
    </ul>
  </div>

  
  </main>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
  <!-- admin graphs -->

  

        
       