<app-admin-header></app-admin-header>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Instructor - Add lesson</title>

<!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
<meta name="robots" content="noindex">












<app-admin style="position: static;"></app-admin>


<div class="mdk-header-layout__content" style="padding: 168px; padding-left: 220px; padding-right: 14px; padding-top: 76px">

    <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page ">

            <div class="container-fluid page__container">
                <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="instructor-dashboard.html">Home</a></li>
                    <li class="breadcrumb-item active">Courses</li>
                </ol> -->


<h1 class="h2">Add Paper</h1>
                        <div class="card">
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-group row">
                                        <label for="avatar" class="col-sm-3 col-form-label form-label">Preview</label>
                                        <div class="col-sm-9">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <img src="assets/images/vuejs.png" alt="" width="100" class="rounded">
                                                </div>
                                                <div class="media-body">
                                                    <div class="custom-file" style="width: auto;">
                                                        <input type="file" id="avatar" class="custom-file-input">
                                                        <label for="avatar" class="custom-file-label">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="title" class="col-md-3 col-form-label form-label">Title</label>
                                        <div class="col-md-6">
                                            <input id="title" type="text" class="form-control" placeholder="Write an title">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="course" class="col-md-3 col-form-label form-label">Grade</label>
                                        <div class="col-md-4">
                                            <select id="course" class="custom-control custom-select form-control">
                                                
                                                <option value="#" selected>Grade 1-5</option>
                                                <option value="#">Grade 6-13</option>
                                                <option value="#">Prof</option>
                                                
                                            
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="course" class="col-md-3 col-form-label form-label">Subject</label>
                                        <div class="col-md-4">
                                            <select id="course" class="custom-control custom-select form-control">
                                                <option value="#">Sinhala</option>
                                                <option value="#">Science</option>
                                                <option value="#" selected>Maths</option>
                                                <option value="#">English</option>
                                                <option value="#">Arts</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="course" class="col-md-3 col-form-label form-label">Paper Type</label>
                                        <div class="col-md-4">
                                            <select id="course" class="custom-control custom-select form-control">
                                                <option value="#">Past Paper</option>
                                                <option value="#" selected>Model Paper</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="course" class="col-md-3 col-form-label form-label">Paper Category</label>
                                        <div class="col-md-4">
                                            <select id="course" class="custom-control custom-select form-control">
                                                <option value="#" selected>MCQ</option>
                                                <option value="#">Essay</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="course" class="col-md-3 col-form-label form-label">Language</label>
                                        <div class="col-md-4">
                                            <select id="course" class="custom-control custom-select form-control">
                                                <option value="#">Sinhala</option>
                                                <option value="#">Tamil</option>
                                                <option value="#" selected>English</option>
                                                
                                            </select>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-column flex-sm-row flex-wrap mb-headings align-items-start align-items-sm-center" style="padding-left: 90%;">
                    
                                        <a href="http://localhost:4200/#/adminpapers" class="btn btn-success" style="align-content: center;">Add Papers</a>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Files</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form id="my-awesome-dropzone" action="/target" class="dropzone"></form>
                                    </div>
                                    <div class="col-md-6">
                                        <div data-toggle="tree">
                                            <ul style="display: none;">
                                                <li class="folder expanded">
                                                    lesson files
                                                    <ul>
                                                        <li>lesson-1-install.zip</li>
                                                        <li>lesson-1-steps.zip</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>

















<app-admin-footer></app-admin-footer>


    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/dom-factory.js"></script>
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>






    <!-- Required by Calendar (fullcalendar) -->
    <script src="assets/vendor/dropzone.min.js"></script>

    <!-- TREE JS -->
    <script src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"></script>
    <script src="assets/vendor/jquery.fancytree-all.min.js"></script>

    <!-- Init -->
    <script src="assets/js/fancytree.js"></script>