<section id="features-wrap" class="features_wrap p-t-b-80">
    <div class="container">
        <div class="row">

            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Who we are</h2>
                <p>E-Panthiya created with the intension of providing you One learning platform with limitless functionality and to be the source for childhood learning on the internet available from anywhere and without charge. And we help you to achieve your goals.</p>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
                <div class="row">
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-clock-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Personalized Learning</h4>
                                <p>We listed all the courses and papers according to your preferenvce.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-shopping-bag-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Trusted Content</h4>
                                <p>All the contents in here are created under the supervision of experts.</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-lock-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Diagnostic Feedback</h4>
                                <p>Get personal feedback from your instructor and direct contact with him.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-people-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium"> Self Registration</h4>
                                <p> you can simplhy register with E-Panthiya using your E-mail or using socila logins.</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                </div>
            </div>
            <!-- end of col-6 -->
            <div class="col-md-12 col-sm-12 col-lg-5 offset-lg-1 d-flex align-items-center">
                <img src="./assets/images/landing/svg/features2.svg" class="img-responsive w-100" alt="">
            </div>

        </div>
    </div>
</section>
